node_modules/*
.svn
.DS_Store
.idea
build
busi
temp
dist/*
*.iml
platforms/ios/weexplus/app/*
!platforms/ios/weexplus/app/config.json
platforms/android/weexplus/app/src/main/assets/app/*
!platforms/android/weexplus/app/src/main/assets/app/config.json