node_modules/*
.svn
.DS_Store
.idea
build
busi
temp
dist/*
*.iml
platforms/ios/weexplus/app/*
!platforms/ios/weexplus/app/weexplus.json
platforms/android/weexplus/app/src/main/assets/app/*
!platforms/android/weexplus/app/src/main/assets/app/weexplus.json
platforms/ios/weexplus/Pods
platforms/ios/weexplus/products/
platforms/android/weexplus/UIKit
release
.gradle