node_modules/*
platforms/ios/wxpTemplate/app/*
!platforms/ios/wxpTemplate/app/weexplus.json
platforms/android/wxpTemplate/app/src/main/assets/app/*
!platforms/android/wxpTemplate/app/src/main/assets/app/weexplus.json
platforms/ios/wxpTemplate/Pods
platforms/ios/wxpTemplate/products/
.svn
*.DS_Store
.idea
build
temp
dist/*
*.iml
release
.gradle
/build
package-lock.json