// 主色调，用于tab文字，首页icon，当前icon，按钮，链接文字
$color-primary = #489cff
// 突出颜色，用于要强调的文字，按钮，标签，角标
$color-highlight = #ff8038
// 首页icon
$color-home-icon = #21d3ac
// 首页icon，签到按钮，评价星星，标签
$color-star-icon = #ffd56c

// 用于tab，文章标题、主要信息，强调内容
$color-text-highlight = #233040
// 用于副标题，文章正文
$color-text-primary = #667180
// 用于辅助、提示、次要消息
$color-text-minor = #98a4b3
// 用于分割线，空状态，进度条，评价星星
$color-text-disabled = #e6ecf2
// 用于背景置灰
$color-disabled = #b8c7d8
// 用于背景色，表格底色
$color-background = #f9fafc
// 下拉框选中背景色
$color-select-active = #f2f3f5
// 次要按钮
$color-btn-minor = #667180
